<div class="form-horizontal">
<%= form_for(Bill.new, html: {class: 'form-horizontal'}) do |f| %>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10"> 
  <p><%= f.submit 'Create Bill' %> </p>
   </div>
  </div>
  </br>
<% end %>
</div>