<div class="panel panel-default col-xs-4 whitebox shadow">
  <div class="panel-body">
  
    <% politician.bills.each do |bill|  %>
    	<p><%= link_to bill.title, bill.url %></p>
    <% end %>
    </div>
</div>


