
<div class="thumbnail panel panel-default col-xs-3 colspace">
  <div class="panel-body img-rounded img-responsive">
    <div class="img-rounded"> <%= link_to image_tag("#{politician.image_name}"), politician_path(politician) %></div>
    <div><h3><%= link_to politician.full_name, politician_path(politician)  %></h3> 
      <p><%= '(' + politician.party + '.) ' +  politician.chamber.capitalize %></p></div>
    </div>
</div>


