<br>
<br>
<div class="row" >
  <%= render "politician_profile", politician: @politician %>
  <div class="bills col-md-9 col-sm-6 whitebox shadow">
    <h3>Bills</h3>
      <%= render @politician.bills %>
    </div>
    <div class="message col-md-9 col-sm-6 whitebox shadow">
      <h3>Send a Message</h3>
      <%= render partial: "messages/form" %>
    </div>
  </div>
</div>

