<br>
<br>
<div class="row">
  <%= render partial: "politician_profile", locals: {politician: @politician} %>
  <div class="message col-md-9 col-sm-6">
    <%= render partial: "/messages/form"%>
  </div>
</div>
<!--  render partial: "/bills/bills"
-->
